@charset "utf-8";
/* CSS Document */

#declare_foot {
	margin-top: 50px;
}

body { padding-bottom: 70px; }
#button_add_tag {
	display: inline-block;
	margin-left: 10px;
	padding-top: 8px;
}

#container_tag {
	display: inline-block;
	margin-left: 5px;
	height: auto;
}

#panel_main {
	width: 90%;
	margin-top: 30px;
}


#mdeditor {
	margin-top: 30px;
}

#button_save {
	float: right;
	margin-top: -5px;
}



#editType {
	display: none;
}

#val_workId {
	display: none;
}
