@charset "utf-8";
/* CSS Document */
#btn_to_edit {
	position: fixed;
	bottom: 45px;
	right: 37px;
	border: 1px solid #000000;
	padding: 0 3px;
}

.name_owner {

}

.introduction_owner {

}

#val_sum_work {
	display: none;
}

.underline {
	text-decoration:underline;
}

.val_ownerId {
	display: none;
}
