@charset "utf-8";
/* CSS Document */


#container_category {

}

.categpry_item {
	display: inline-block;
	border: 1px solid #000000;
	background-color: white;
	color:black;
	padding: 5px 10px;
	margin-bottom: 20px;
}
.name_category{}